[Desktop Entry]
Type=X-Zim-CustomTool
Version=1.0
GenericName=
Name=Paste / Convert from Markdown (pandoc)
Comment=Cola Markdown do clipboard no formatdo do Zim
Exec=
TryExec=
Icon=/usr/share/icons/breeze/mimetypes/64/text-markdown.svg
MimeType=
Terminal=false
NoDisplay=false
X-Zim-ExecTool=sh -c '( [ "$0" ] && echo "$0" || xsel -bo ) | pandoc --to zimwiki' "%T"
X-Zim-ReadOnly=false
X-Zim-ShowInToolBar=true
X-Zim-ShowInContextMenu=None
X-Zim-ReplaceSelection=true

