[Desktop Entry]
Type=X-Zim-CustomTool
Version=1.0
GenericName=
Name=Run in shell
Comment=Faz "pipe" da seleção para o Bash
Exec=
TryExec=
Icon=/usr/share/icons/Qogir/32/apps/utilities-terminal.svg
MimeType=
Terminal=false
NoDisplay=false
X-Zim-ExecTool=bash -c '%T'
X-Zim-ReadOnly=false
X-Zim-ShowInToolBar=true
X-Zim-ShowInContextMenu=None
X-Zim-ReplaceSelection=true

