#############################################################################################
# POSIX-compatible shell agnostic aliases
# (either useful for day-to-day usage or just some cool tricks)
#############################################################################################

alias sudo='sudo '

alias aliases='vim ~/.aliases; source ~/.aliases'
alias bashrc='vim ~/.bashrc'
alias zshrc='vim ~/.config/zsh/.zshrc'
alias vimrc='vim ~/.vimrc'
alias xconfig='vim ~/.xmonad/xmonad.hs'

#############################################################################################
## Git
#############################################################################################
alias g=git
alias gap='git add --patch'
alias gst='git status'
alias gd='git diff'
alias gru='git remote update'
alias config='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'
alias conf='git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME'


alias open=xdg-open # macOS has it right

# XFCE4 Terminal already does this with Ctrl+Shift+N
alias x='xfce4-terminal --working-directory="$(pwd)"'

alias razer="xinput set-prop 'pointer:Razer Razer DeathAdder Chroma' 'libinput Accel Speed'"

alias record-small='ffmpeg -video_size 1366x768 -framerate 10 -f x11grab -i :0.0 VIDEO.mp4'
alias record-big='ffmpeg -video_size 1920x1080 -framerate 10 -f x11grab -i :0.0+0,0 test.mp4'

alias cls='tput reset'
# alias ls='ls --color=auto'
# alias ll='ls --color=auto -lF'
alias ls='eza --group-directories-first -F --icons=always'
alias ll='eza --group-directories-first -lF --git --header --icons=always'
alias du='du -h'

alias lesse='less +G -eX'
alias lecat='less -EX +G'

alias df='dfc'
alias dfcr='dfc -c always 2>/dev/null | grep --colo=never /dev/sda7'

alias xclip="xclip -selection clipbooard"


alias pp='ping -c 4 1.1.1.1'
alias cu='nmcli connection up'

##################################################################
## Good to have:
##################################################################

function copy-image-as-base64() {
    base64 -w0 "$1" | \
        sed 's|^|data:image/png;base64,|' | \
        tee >(xclip -selection CLIPBOARD) && \
        notify-send \
            'Copied "'"$1"'" as base64 to clipboard' \
            $'It looks like this:\n'"$(xclip -selection CLIPBOARD -out)"

}


# App specific aliases

# Simplified docker ps that fits in half my screen
alias dps="docker ps --format 'table {{.Names}}	{{.Ports}}	{{.Status}}'"

# alias webcam='mplayer tv://device=/dev/video01'  # least delay?
alias webcam='mpv --demuxer-lavf-format=video4linux2 --demuxer-lavf-o-set=input_format=mjpeg av://v4l2:/dev/video0'
# or 'mpv /dev/video0'
# or 'ffplay /dev/video0'
# or just use guvcview - It features a standalone video window and
# a configuration window to tweak exposure, gain, brightness, etc.

alias wdmycloud='smbclient -N -U tito% //wdmycloud/tito'

# watchexec, fast, with my favourite flags
function we() {
    watchexec --clear --shell=bash "$@"
}

# Todo.txt
function t() {
    if [[ $# -eq 0 ]]; then
        todo.sh ls
        seq $COLUMNS | tr -d '[[:digit:]]' | tr '[[:space:]]' '-'
        t -h | sed -En 's/^    (\w+)\|?(\w+)?.*/\1\n\2/p' | column
    else
        todo.sh "$@"
    fi
}
alias tm='todo.sh ls @ModEst'

# PDF viewer
alias zathura='zathura --fork'

alias clips='rlwrap clips'

alias impressive='impressive --cache=memory'

# Navigate the filesystem with Ranger instead of boring cd
# Complements well with:
#   fasd's "z" command
#   launching $TERMINAL from a graphical file manager with a keyboard shortcut
function rr() {
    local RANGERDIR=/tmp/.rangerdir
    ranger --choosedir=$RANGERDIR $@
    cd "$(cat $RANGERDIR)"
    rm $RANGERDIR
}

# I have to try broot

function ytv() {
    mpv --ytdl-format="bestvideo[height<=?1080]+bestaudio/best" ytdl://ytsearch:"$*"
} 

# Lazily load Node Version Manager
function nvm() {
    unset -f nvm
    source /usr/share/nvm/init-nvm.sh
    nvm "$@"
}


# Arch linux specific aliases

alias pacsizes="expac -H M --timefmt='%Y-%m-%d' '%m\t%l\t%-30v%n' | sort -rn | less"
alias yay=paru
alias yolo="paru --noconfirm"
alias pacram="mkdir -p /tmp/pkg && sudo pacman --cachedir /tmp/pkg"

alias pacro='sudo pacman -Rns $(pacman -Qtdq)' # Remove orphan packages

# Flags:
# -R, --remove
## -n, --nosave      delete files instead of renaming with a .pacsave extension
## -s, --recursive   remove dependencies that are not required by other packages
# -Q, --query
## -t, --unrequired  packages not [optionally] required by any installed package
## -d, --deps        packages installed as dependencies (-t + -d = orphans)
## -q, --quiet       show less information

function pacbins() {
    pacman -Ql "$1" | grep /bin/
}
alias bins=pacbins

# Rust
alias ca=cargo


# Workflow specific aliases

function fcul-fetch() {
    # I don't want to keep a VPN connection alive because if I forget to
    # disconnect from it before I shutdown systemd hangs for 90 seconds
    # and it drives me mad!
    nmcli connection up VPN_ciencias
    git remote update
    nmcli connection down VPN_ciencias
}

# vim: syntax=sh
